img {
  display: inline-block;
  width: 100%;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}
h4 {
  margin-bottom: 0;
}
.card-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.card-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.card-login {
  width: 249px;
  height: 126px;
  background: url("./index.png") no-repeat;
}
.card-p {
  width: 205px;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 22px;
  font-size: 12px;
  color: black;
}
.card-btn {
  display: block;
  color: #fff;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  background: url("./index.png") no-repeat 0 -195px;
  text-shadow: 0 1px 0 #8a060b;
  border-color: #f5222d;
  border-radius: 5px;
}
.card-cnzt {
  position: relative;
}
.card-select-log {
  padding: 40px 0 39px;
}
.card-mid-wrap {
  width: 60%;
  margin: 0 auto;
}
.card-pic {
  margin-bottom: 20px;
}
.card-methods {
  width: 316.8px;
  height: 90px;
}
.card-n-myinfo {
  height: 184px;
  padding-top: 20px;
  background: url("./index.png") no-repeat 0 -270px;
}
.card-head {
  position: relative;
  float: left;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  padding: 2px;
  background: #fff;
  border: 1px solid #dadada;
}
.card-info {
  float: left;
  width: 115px;
  margin-left: 12px;
}
.card-lv {
  margin: 5px 0 10px 0;
}
.card-u-cin2 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  background: url("./icon2.png") no-repeat 0 9999px;
}
.card-u-lv {
  height: 17px;
  padding-left: 25px;
  line-height: 18px;
  color: #999;
  font-weight: bold;
  font-style: italic;
  background-position: -130px -64px;
}
.card-lvright {
  float: right;
  width: 8px;
  height: 17px;
  background-position: -192px -64px;
}
.card-dny {
  margin: 12px 0 0 20px;
  color: #666;
}
.card-li {
  float: left;
  height: 40px;
  padding: 0 18px;
  border-right: 1px solid #e4e4e4;
}
.card-fst {
  padding-left: 0;
}
.card-lst {
  padding-right: 0;
  border-right: none;
}
.card-strong {
  display: block;
  max-width: 40px;
  font-size: 20px;
  font-weight: normal;
}
.card-span {
  margin-left: 2px;
}
